.form-box {
  width: 100%;
  max-width: 400px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.form-title {
  font-size: 46px;
  font-weight: normal;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.input-group p {
  font-size: 11px;
}

.input-group.flex-group {
  display: grid;
  gap: 10px;
  font-size: 14px;
  grid-template-columns: 1fr 1fr;
}
.b-white input,
.b-white fieldset {
  color: #fff;
  border-color: rgba(34, 102, 190, 0.171);
}

label {
  color: rgb(218, 218, 218) !important;
  letter-spacing: 1px;
  font-size: 12px;
}
input[type="checkbox"] {
  background: #fff;
}
button.btn:disabled {
  cursor: not-allowed;
  pointer-events: all;
}
.j-c {
  height: 20px;
}
.j-c span {
  align-self: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.473);
}
